In [16]:
import pandas as pd
data = [10,20,30,40,50]
series=pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [17]:
a=[1,7,2]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [18]:
gt=series>25
print("series>25=\n",gt)
series_filtered=series[series>25]
print("Filtered Series:\n",series_filtered)
series_multiplied=series*2
print("\nSeries after Scalar Multiplication:\n",series_multiplied)

series>25=
 0    False
1    False
2     True
3     True
4     True
dtype: bool
Filtered Series:
 2    30
3    40
4    50
dtype: int64

Series after Scalar Multiplication:
 0     20
1     40
2     60
3     80
4    100
dtype: int64

In [19]:
data={
    "calories":[420,380,390],
    "duration":[50,40,45]
}
df=pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [20]:
data={'state':['ohio','ohio','ohio','nevada','nevada','nevada'],
      'year':[2000,2001,2002,2001,2002,2003],
      'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}
frame=pd.DataFrame(data)
print(frame)

    state  year  pop
0    ohio  2000  1.5
1    ohio  2001  1.7
2    ohio  2002  3.6
3  nevada  2001  2.4
4  nevada  2002  2.9
5  nevada  2003  3.2

In [21]:
frame=pd.DataFrame(data,columns=['year','state','pop'])
print(frame)

   year   state  pop
0  2000    ohio  1.5
1  2001    ohio  1.7
2  2002    ohio  3.6
3  2001  nevada  2.4
4  2002  nevada  2.9
5  2003  nevada  3.2

In [22]:
frame2=pd.DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five','six'])
print(frame2)

       year   state  pop debt
one    2000    ohio  1.5  NaN
two    2001    ohio  1.7  NaN
three  2002    ohio  3.6  NaN
four   2001  nevada  2.4  NaN
five   2002  nevada  2.9  NaN
six    2003  nevada  3.2  NaN

In [23]:
frame2['debt']=12.4
print(frame2)

       year   state  pop  debt
one    2000    ohio  1.5  12.4
two    2001    ohio  1.7  12.4
three  2002    ohio  3.6  12.4
four   2001  nevada  2.4  12.4
five   2002  nevada  2.9  12.4
six    2003  nevada  3.2  12.4

obj=pd.Series([4.5,7.2,-5.3,3.6],index=['d','b','a','c'])
print(obj)
obj2=obj.reindex(['a','b','c','d','e'])
obj2

In [25]:
obj=pd.Series([4.5,7.2,-5.3,3.6],index=['d','b','a','c'])
print(obj)
obj2=obj.reindex(['a','b','c','d','e'])
obj2

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [30]:
obj3=pd.Series(['blue','purple','yellow'],index=[0,2,4])
print(obj3)
obj4=obj3.reindex(range(6),method='ffill')
obj4

0      blue
2    purple
4    yellow
dtype: object

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [31]:
obj3=pd.Series(['blue','purple','yellow'],index=[0,2,4])
obj4=obj3.reindex(range(6),method='ffill')
print("Method='ffill':")
print(obj4)

Method='ffill':
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [32]:
obj5=obj3.reindex(range(6),method='ffill')
print("\nMethod='bffill':")
print(obj5)

Method='bffill':
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [33]:
obj6=obj3.reindex(range(6),fill_value='red')
print("\nFill value:")
print(obj6)

Fill value:
0      blue
1       red
2    purple
3       red
4    yellow
5       red
dtype: object

In [38]:
import numpy as np
obj=pd.Series(np.arange(5.),index=['a','b','c','d','e'])
new_obj=obj.drop('c')
print(new_obj)
obj.drop(['d','c'])

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

a    0.0
b    1.0
e    4.0
dtype: float64

In [40]:
obj=pd.Series(np.arange(4.),index=['a','b','c','d'])
print("obj['b']=\n",obj['b'])
print("obj[1]=\n",obj[1])
print("obj[2:4]=\n",obj[2:4])
print("obj[obj]<2=\n",obj[obj<2])

obj['b']=
 1.0
obj[1]=
 1.0
obj[2:4]=
 c    2.0
d    3.0
dtype: float64
obj[obj]<2=
 a    0.0
b    1.0
dtype: float64

C:\Users\dell\AppData\Local\Temp\ipykernel_10696\1435247328.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("obj[1]=\n",obj[1])

In [41]:
data=pd.DataFrame(np.arange(24).reshape((6,4)),
                  index=['Ohio','Dallas','Boston','NJ','New York','Austin'],
                  columns=['one','two','three','four'])
data
data['two']

Ohio         1
Dallas       5
Boston       9
NJ          13
New York    17
Austin      21
Name: two, dtype: int64

In [42]:
data[1:5]
data.loc['Dallas',['two','three']]

two      5
three    6
Name: Dallas, dtype: int64

In [43]:
print(data.three>5)
data[data.three>5]

Ohio        False
Dallas       True
Boston       True
NJ           True
New York     True
Austin       True
Name: three, dtype: bool

          one  two  three  four
Dallas      4    5      6     7
Boston      8    9     10    11
NJ         12   13     14    15
New York   16   17     18    19
Austin     20   21     22    23

In [44]:
data>5
data[data<5]=0
data

          one  two  three  four
Ohio        0    0      0     0
Dallas      0    5      6     7
Boston      8    9     10    11
NJ         12   13     14    15
New York   16   17     18    19
Austin     20   21     22    23

In [45]:
obj=pd.Series(range(4),index=['d','a','b','c'])
df_sort_series=obj.sort_index()
print(df_sort_series)

a    1
b    2
c    3
d    0
dtype: int64

In [49]:
frame=pd.DataFrame(np.arange(8).reshape((2,4)),
                   index=['three','one'],
                   columns=['d','a','b','c'])
df_sort_dataframe=frame.sort_index()
print("I\n",df_sort_dataframe)

I
        d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [50]:
df_sort_dataframe_axis1=frame.sort_index(axis=1)
print("II\n",df_sort_dataframe_axis1)

II
        a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [52]:
df_sort_dataframe_ascending=frame.sort_index(axis=1,ascending=False)
print("III\n",df_sort_dataframe_ascending)

III
        d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [53]:
obj=pd.Series([7,-5,7,3,2,0.4])
df_rank=obj.rank()
print("Rank\n",df_rank)

Rank
 0    5.5
1    1.0
2    5.5
3    4.0
4    3.0
5    2.0
dtype: float64

In [56]:
df_rank_method_first=obj.rank(method='first')
print("rank-Method=first\n",df_rank_method_first)

rank-Method=first
 0    5.0
1    1.0
2    6.0
3    4.0
4    3.0
5    2.0
dtype: float64

In [57]:
df_rank_dataframe=frame.rank(axis='columns')
print("Rank over columns\n",df_rank_dataframe)

Rank over columns
          d    a    b    c
three  1.0  2.0  3.0  4.0
one    1.0  2.0  3.0  4.0